/**
 * [AntoineLRK]: Template scss v1.2
 */
@import './themes/default';

:root {
    --brad-default: 9999px; // A rename en "--round-radius"
    --card-radius: .5em;
    --grid-gap: 32px;
    --desktop: 1200px;
    --app-width: 50%;
    --fofa: "Poppins", sans-serif;
    --white: #fff;
    --black: #000;
    --min-height: calc(100vh - (56px + 32px));
  
    *[color-theme="dark"] {
        --tonic: var(--dark-tonic);
        --background: var(--dbackground);
        --background-alt: var(--dbackground-alt);
        --foreground: var(--dforeground);
        --foreground-alt: var(--dforeground-alt);
        --invertedBackground: var(--lbackground-alt);
    }

    *[color-theme="light"] {
        --tonic: var(--light-tonic);
        --background: var(--lbackground);
        --background-alt: var(--lbackground-alt);
        --foreground: var(--lforeground);
        --foreground-alt: var(--lforeground-alt);
        --invertedBackground: var(--dbackground);
    }

    @media (prefers-color-scheme: light) {
        --tonic: var(--light-tonic);
        --background: var(--lbackground);
        --background-alt: var(--lbackground-alt);
        --foreground: var(--lforeground);
        --foreground-alt: var(--lforeground-alt);
    }

    @media (prefers-color-scheme: dark) {
        --tonic: var(--dark-tonic);
        --background: var(--dbackground);
        --background-alt: var(--dbackground-alt);
        --foreground: var(--dforeground);
        --foreground-alt: var(--dforeground-alt);
    }
}